@media #{$iPad}

  #left-arrow
    left: 2%

  #right-arrow
    right: 2%

@media #{$iPhone}

  #content,
  footer,
  header,
  nav
    overflow-x: hidden
    width: 100%

  nav
    padding-left: 30px
    text-align: left

  .arrow-left
    left: 2%

  .arrow-right
    right: 2%

  .arrow-left,
  .arrow-right
    top: 233px
    z-index: 1

    // img of both arrow-left and arrow-right
    img
      width: 35px
