.arrow-left,
.arrow-right
  cursor: pointer
  position: fixed

.arrow-left img,
.arrow-right img
  width: 75px

.arrow-left
  left: 12%

.arrow-right
  right: 12%
  transform: scaleX(-1)

form
  margin: 0 auto
  text-align: center

#number
  position: absolute
  visibility: hidden
