article {
  font-family: Times;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 80%;
  padding: 20px 0 120px;
}

section {
  margin: 10px auto 0 10px;
  overflow: auto;
}

#wrapper {
  margin: 0 auto;
  width: 660px;
}

#content-title {
  border-bottom: 1px gray solid;
  font-style: none;
  padding-top: 60px;
  opacity: .65;
}

#content-title h2 {
  margin: 10px 0 0;
  font-size: 30px;
}

#content {
  background: #ffe;
  display: block;
  overflow: auto;
}

#first-section {
  margin-top: 30px;
}

.content-left {
  float: left;
}

.content-left h2 {
  font-size: 16px;
}

.content-right {
  float: right;
  padding: 12px 0 0 0;
}

.content-right a {
  display: block;
  padding: 2px;
  text-align: right;
}
