article {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
}

section {
  margin: 0 auto 0 60px;
  overflow: auto;
  width: 70%;
}

#wrapper {
  margin: 0 auto;
  width: 660px;
}

#content-title {
  border-bottom: 1px gray solid;
  font-style: none;
  opacity: .65;
}

#content {
  background: #ffe;
  display: block;
  overflow: auto;
}

#first-section {
  margin-top: 30px;
}

#left-arrow {
  left: 12%;
  position: fixed;
  top: 35%;
  transform: scaleX(-1);
  width: 55px;
}

#right-arrow {
  right: 12%;
  position: fixed;
  top: 35%;
  width: 55px;
}
.author {
  float: left;
}

.author h2 {
  font-size: 16px;
}

.page-title {
  float: right;
  padding: 11px 0 0 0;
}

.page-title a {
  @extend .family-style;
  display: block;
  padding: 2px;
  text-align: right;
}
