article {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
}

section {
  margin: 0 auto 0 60px;
  overflow: auto;
  width: 70%;
}

#content-title {
  border-bottom: 1px gray solid;
  font-style: none;
  opacity: .65;
}

#content {
  background: linear-gradient(210deg, gray, transparent 25%),
              linear-gradient(0deg, #fff, transparent);
  display: block;
  overflow: auto;
}

#first-section {
  margin-top: 30px;
}

.author {
  float: left;
}

.author h2 {
  font-size: 16px;
}

.page-title {
  float: right;
  padding: 11px 0 0 0;
}

.page-title a {
  @extend .family-style;
  display: block;
  padding: 2px;
  text-align: right;
}
