//    Sticky Footer    //
footer {
  @extend .family-style;
  clear: both;
  position: relative;
  z-index: 1;
  letter-spacing: 0;
  margin: 15px auto;
  text-align: center;
}

#credit {
  margin: 20px 0 0 50px;
  text-align: center;
}

#credit p {
  margin: 50px;
}

#bottom-art {
  background-color: #000;
  height: 95px;
  width: 100%;
}
