#nav-primary, #nav-secondary {
  background-color: white;
  border: 1px black solid;
  font-size: 14px;
  float: right;
  right: 110px;
  text-align: right;
  width: 100px;
  z-index: 100;
}

#nav-secondary {
  position: relative;
  bottom: 141px;
  right: 0;
}

nav ul {
  padding: 0 10px 0 20px;
}

hr {
    border: none;
    height: 1px;
    color: #000; /* old IE */
    background-color: #000; /* Modern Browsers */
    width: 75px;
}
