.page-left h2 {
  border-bottom: 1px black solid;
  font-family: $Basic;
  font-size: 50px;
  font-weight: normal;
}

.page-right {
  text-indent: 40px;
}

.page-left p, .page-right p {
  font-size: 17px;
}
