.author-name {
  font-size: 25px !important;
  margin: 0;
}

.slide-title h2 {
  border-bottom: 1px black solid;
  font-size: 50px;
  font-weight: normal;
}

.slide-content {
  text-indent: 40px;
}

.slide-title p, .slide-content p {
  font-size: 17px;
}
