.post.post-header
  .divider.mobile
  h2 Post system, engage!
  p.date-section 12/31/16 4:08pm - General
  p.name Brandon Patterson
  .divider
  h3 After laying out the basic foundation of this blog, I decided that I needed to make a few fundamental changes to the structure of the content and have a preview section available for the home page. Here is a picture of my current file structure.
  img(src='dist/images/file-structure.png')
