.post.post-header
  .divider.mobile
  h2 So... I've been coding!
  p.date-section 12/18/16 10:30pm - General
  p.name Brandon Patterson
  .divider
  h3 Over the past year, I've learned alot about how to create websites and single page applications that run on web browsers. It's been an adventure gathering resources, deciding on tools / a build system, learning industry models/trends, fundamentals of coding, and what it really takes to be a Web Developer.
