.post.post-header
  .divider.mobile
  h2 PHP Switch Statements: How to use them for Navigation
  p.date-section 1/14/17 2:36pm - PHP
  p.name Brandon Patterson
  .divider
  h3 As useful as JavaScript is with navigation, I decided to try something different and use switch statements in PHP for the version of this blog that will be paired with a database. This involves a few steps to set up.
  h3 I divided these sections up by each filename to make the separate steps clear.
