@font-face {
    font-family: 'Learning Curve';
    src: url('../fonts/LearningCurve_OT-webfont.eot');
    src: url('../fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LearningCurve_OT-webfont.woff') format('woff'),
         url('../fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('../fonts/LearningCurve_OT-webfont.svg#learning_curve_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
}

#wrapper {
  overflow-x: hidden;
}

html * {
  list-style: none;
  text-decoration: none;
}

body {
  background: dimgray;
  display: inline;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
