html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
}

html * {
  list-style: none;
  text-decoration: none;
}

body {
  background: lightgray;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p, h2 {
  @extend .family-style;
}
