 /*---------------------------*
 // Colors for all elements //
/*--------------------------*

//    accent    //
nav a
  color: $accent

//    accent-two    //
li:active
  background-color: $accent-two

//    accent-three    //
#content-title
  border-bottom: $accent-three 1px solid

//    accent-four    //
.bottom-art
  background-color: $accent-four

//    background    //
body
  background-color: $background

//    content    //
header

  h2
    background-color: $content
    color: $accent-two

  p
    background-color: $content

#content
  background-color: $content
  
//    nav    //
nav
  background-color: $nav
