.post.post-header
  .divider.mobile
  h2 How to use your last 20 Instagram pictures on your website:
  p.date-section 1/7/17 8:45pm - API
  p.name Brandon Patterson
  .divider
  h3 After finishing the post system on this blog, I stumbled on a project idea in a conversation with my girlfriend. She mentioned that her hair stylist was looking for someone to build her a website and I got inspired to make a demo for her. Quickly this design idea included images of the stylist’s work. The simplest thought was to import her Instagram feed directly into the website through an API call.
