@media #{$desktop}

  .divider.mobile
    display: none

@media #{$iPad}

  body
    margin: 0 auto
    width: 600px

  aside
    right: 30px

  .container
    margin: 0 auto
    width: 600px

  .container > img
    width: 60%

  .jumbotron
    width: 600px

  .divider.mobile
    display: none

  .post
    max-width: 450px

@media #{$iPhone}

  body,
  footer,
  #content,
  .container
    margin: 0 auto
    overflow-x: hidden
    width: 100%

  footer
    padding-left: 20px
    text-align: left

  aside
    display: none

  .container > img
    display: none

  .jumbotron h2
    padding: 20px 0 200px 5%
    max-width: 350px

  .post
    border: none !important
    border-radius: none !important
    max-width: 100%
