.home
  #content-title
    h2 Rap Albums

  section#first-section
    .home-left
      h2 Jeff Sumrad
    .home-right
      a.page(href='#page1') Donald Drumpf's Day Off
      a.page(href='#page2') Slippers Slippers Slippers
      a.page(href='#page3') Iconic Super Duper

  section
    .home-left
      h2 Michelle Cline
    .home-right
      a(href='#home') Did I 4Reals Do Dat?
      a(href='#home') When DigDugs Fly
      a(href='#home') You'll Never Guess

  section
    .home-left
      h2 Clyde Mojo
    .home-right
      a(href='#home') Horoscope Blues

  section
    .home-left
      h2 Paula Biles
    .home-right
      a(href='#home') Time Is Not Real


  section
    .home-left
      h2 Kai Urmom
    .home-right
      a(href='#home') Make Me A Sandcastle

  section
    .home-left
      h2 Grover McGoo
    .home-right
      a(href='#home') Table Top Ethics
      a(href='#home') Underwater Swimming

  section
    .home-left
      h2 Danielle Forest
    .home-right
      a(href='#home') I Live In A Bus
      a(href='#home') If Forks Could Talk

  section
    .home-left
      h2 Dylan Lively
    .home-right
      a(href='#home') The Case For Making Cases
      a(href='#home') Where's "Baldo"?: A Memour

  section
    .home-left
      h2 Bob Sumich

    .home-right
      a(href='#home') Hilly Done Dit It 'Gain
      a(href='#home') My Lesson to Yousef
      a(href='#home') How I Ate New Jersey

  #content-title
    h2 Poetry
  // end sub-title
  section
    .home-left
      h2 Bob Sumich
    .home-right
      a(href='#home') Is That You Harambe?

  section
    .home-left
      h2 Billy Ugly
    .home-right
      a(href='#home') Five Times Not Five

  section
    .home-left
      h2 Alex Castor
    .home-right
      a(href='#home') I Speak Words

  section
    .home-left
      h2 Sally Childs
    .home-right
      a(href='#home') Helm's Shallow Deep

  #credit
    p Cover art by Bob Bobson
      a(href='#home') Womp Womp
    p
      a(href='#home') Contributors
