.home
  #content-title
    h2 Rap Albums

  section#first-section
    .home-left
      h2 Jeff Sumrad
    .home-right
      a.page1(href='#page1') Donald Drumpf's Day Off
      a.page2(href='#page2') Slippers Slippers Slippers
      a.page3(href='#page3') Iconic Super Duper

  section
    .home-left
      h2 Michelle Cline
    .home-right
      a(href='#page4') Did I 4Reals Do Dat?
      a(href='#page5') When DigDugs Fly
      a(href='#page6') You'll Never Guess

  section
    .home-left
      h2 Clyde Mojo
    .home-right
      a(href='#page7') Horoscope Blues

  section
    .home-left
      h2 Paula Biles
    .home-right
      a(href='#page8') Time Is Not Real


  section
    .home-left
      h2 Kai Urmom
    .home-right
      a(href='#page9') Make Me A Sandcastle

  section
    .home-left
      h2 Grover McGoo
    .home-right
      a(href='#page10') Table Top Ethics
      a(href='#page11') Underwater Swimming

  section
    .home-left
      h2 Danielle Forest
    .home-right
      a(href='#page12') I Live In A Bus
      a(href='#page13') If Forks Could Talk

  section
    .home-left
      h2 Dylan Lively
    .home-right
      a(href='#page14') The Case For Making Cases
      a(href='#page15') Where's "Baldo"?: A Memour

  section
    .home-left
      h2 Bob Sumich

    .home-right
      a(href='#page16') Hilly Done Dit It 'Gain
      a(href='#page17') My Lesson to Yousef
      a(href='#page18') How I Ate New Jersey

  #content-title
    h2 Poetry
  // end sub-title
  section
    .home-left
      h2 Bob Sumich
    .home-right
      a(href='#page19') Is That You Harambe?

  section
    .home-left
      h2 Billy Ugly
    .home-right
      a(href='#page20') Five Times Not Five

  section
    .home-left
      h2 Alex Castor
    .home-right
      a(href='#page21') I Speak Words

  section
    .home-left
      h2 Sally Childs
    .home-right
      a(href='#page22') Helm's Shallow Deep

  #credit
    p Cover art by Bob Bobson
      a(href='#page23') Womp Womp
    p
      a(href='#page24') Contributors
