doctype html
html(lang='en-US')
  include vars.pug
  include head.pug
  body
    .container.header
      h1 @
      h2 brandnpatterson

    .container
      nav
        a(href='#latest') Latest
        //- a(href='#archive') Archive
        a(href='#about') About Me

    .container.jumbotron
      h2.fade-in-one I've learned how to build things on the web.
      h2.fade-in-two Here's what I'm up to today.
      img(src='dist/images/me.jpg')

    .container
      #content
      aside
        a(href='http://brandnpatterson.github.io') Portfolio
        a(href='https://github.com/brandnpatterson') Github
        a(href='https://twitter.com/brandnpatterson') Twitter
        a(href='mailto:brandnpatterson@gmail.com') Email

    include footer.pug

    script(src='dist/js/bundle.js')
