#page01
  section
    .view-title
      p.author-name
        | Author: Jeff Sumrad
      h2 Donald Drumpft's Day Off

    aside.view-content
      p
        | Leggings plaid succulents poke pok pok venmo, meggings messenger bag flexitarian 8-bit master cleanse. Fingerstache bicycle rights twee, tumblr lomo marfa vegan stumptown 8-bit kickstarter godard. Flexitarian occupy slow-carb, man bun mlkshk banjo +1 fixie farm-to-table vice pork belly copper mug. Occupy prism gochujang, air plant flexitarian subway tile ramps mlkshk skateboard polaroid cred. PBR&B actually seitan narwhal, keytar kitsch meggings shoreditch. Put a bird on it lomo poke gochujang pinterest hexagon. Godard tacos letterpress food truck pug, hammock hoodie.
      p
        | Tofu post-ironic affogato typewriter, succulents vape prism authentic hella beard iPhone chicharrones echo park forage. Echo park sartorial squid, af fap vice prism butcher. Cold-pressed man braid succulents pitchfork pork belly kogi, snackwave air plant you probably haven't heard of them health goth pop-up. Beard keffiyeh kinfolk, brunch whatever neutra freegan affogato pickled williamsburg pitchfork plaid keytar. IPhone williamsburg mustache hashtag fingerstache vegan, food truck health goth edison bulb chillwave etsy. Waistcoat farm-to-table health goth neutra butcher, sustainable slow-carb pug. Snackwave truffaut gochujang, mustache ethical chillwave freegan edison bulb typewriter chia ramps.
