footer
  .bottom-art
  a(href='http://brandnpatterson.github.io/')
    | ©
    script(type='text/javascript').
      document.write(new Date().getFullYear());
    |   Brandon Patterson. All Rights Reserved.
